asgiref==3.11.1
click==8.3.2
crispy-bootstrap5==2026.3
Django==6.0.3
django-crispy-forms==2.6
gunicorn==25.3.0
h11==0.16.0
packaging==26.1
psycopg2-binary==2.9.11
python-dotenv==1.2.2
sqlparse==0.5.5
uvicorn==0.44.0
whitenoise==6.12.0
