{% extends "base.html" %}
{% block content %}
  <section class="py-5 bg-white border-bottom">
    <div class="container">
      <div class="row align-items-center justify-content-between gx-5">
        <div class="col-md-5">
          <h1 class="display-5 fw-bold">Догляд за вашими улюбленцями</h1>
          <p class="lead text-muted">
            Акуратний грумінг, турбота та комфорт
          </p>
        </div>

        <div class="col-md-5">
          <div class="card shadow-sm p-3">
            <h5 class="mb-3">Швидкий запис</h5>

            <form>
              <input class="form-control mb-2" placeholder="Ваше ім'я">
              <input class="form-control mb-2" placeholder="Телефон">
              <input class="form-control mb-2" placeholder="Кличка тварини">

              <button class="btn btn-primary w-100">
                Записатися
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container">
      <h2 class="mb-4">Наші послуги</h2>
      <div class="row g-4">
        {% for service in our_services %}
          <div class="col-md-4">
            <div class="card h-100 border-0 shadow-sm">
              <div class="card-body">
                <h5 class="card-title">{{ service.type }}</h5>
                <p class="card-text text-muted">
                  Ціна: {{ service.price }}
                </p>
              </div>
            </div>
          </div>
        {% empty %}
          <p>Послуги ще не додані.</p>
        {% endfor %}
      </div>
    </div>

  </section>

  <section class="py-5 bg-white border-top border-bottom">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="mb-0">Наші клієнти</h2>
      </div>

      <div class="row g-4">
        {% for pet in our_works %}
          <div class="col-md-4 col-lg-3">
            <div class="card h-100 shadow-sm">
              <div class="card-body">
                <h5 class="card-title"><strong>Кличка:</strong> {{ pet.name }}</h5>
                <p class="card-text mb-1">
                  <strong>Тип:</strong> {{ pet.get_pet_type_display }}
                </p>
                <p class="card-text mb-1">
                  <strong>Порода:</strong> {{ pet.breed }}
                </p>
              </div>
            </div>
          </div>
        {% empty %}
          <p>Поки що немає завершених записів.</p>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
